.env
node_modules/*
.vscode/*
test.sh
test-aws.sh
.aws/*
config.json
node-red-208520-70f2b1da662d.json
config/node-red-208520-70f2b1da662d.json
views/fragments/de/privacy-policy.ejs
views/fragments/de/terms-of-service.ejs
views/fragments/es/privacy-policy.ejs
views/fragments/es/terms-of-service.ejs
src/test/test-public-apis.js
.vscode/settings.json
