<%- include('../fragments/header'); -%>
  <div class="container main-content">
    <h1>About this Service</h1>
    <p>With 3000+ users, and 9500+ defined devices, available in 12 Amazon Alexa markets and English locales for Google Home/ Google Assistant (more markets to follow!),  this web service enables you to quickly bring voice-control to your Node-RED flows. </p>
    <p>The service supports "out of band" state updates (from physical or other automated device interactions) whilst providing real-time visibility of device state across Smart Assistant applications.</p>
    <br>
    <p>You can support the ongoing development and hosting costs of this service via PayPal: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=A2F2KF4GKKXT6&currency_code=GBP&source=url">
      <img src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif"></a> or alternatively through <a href="https://github.com/coldfire84">the GitHub Sponsors programme.</a></p>
    <br>
    <p>You can read about the origins of this service <a href="http://www.hardill.me.uk/wordpress/2016/11/05/alexa-home-skill-for-node-red/">here</a></p>
    <br>
    <h2>Need Help?</h2>
    <p>There is <a href="/docs">extensive documentation</a> available.</p>
    <p>Still stuck? Check out the <a href="https://github.com/coldfire84/node-red-alexa-home-skill-v3-web/wiki">GitHub repository for this project</a> where you can raise questions, bugs and feature requests.
    <p>There is also a new <a href="https://join.slack.com/t/cb-net/shared_invite/enQtODc1ODgzNzkxNTM3LTYwZGZmNjAxZWZmYTU4ZDllOGM3OTMxMzI4NzRlZmUzZmQ4NDljZWZiOTIwNTYzYjJmZjVlYzhhYWFiNThlMDA">Slack channel</a> where you can engage in the discussion!</p>
    <br>
    <h2>Disclaimer</h2>
    <p>I/ the creators and contributors of this service and/ or website are not responsible for any issues arising from it's use, including loss or damage relating to equipment, property, injury or life.
    You consume this service at your own risk.</p>
    <br>
    <h2>Privacy Policy</h2>
    <p>Click to view the <a href="/privacy">Privacy Policy</a> associated with this service.</p>
    <p>In effect, limited persona data is stored, namely your email address, username, country of residence and information you enter for specific devices that
      you wish to control. IP addresses are also stored within reverse proxy logs and Google Analytics to assist with troubleshooting service issues.</p>
    <p>Cookies are used to maintain browser sessions and track service performance through the Google Analytics platforms. This data
      enables future service enhancements/ development to address performance issues.</p>
  </div>
<%- include('../fragments/footer'); -%>
