<%- include('../fragments/header'); -%>
  <div class="container main-content">
      <form class="form-changePassword" id="form-changePassword">
        <% if (message) { %>
          <p><strong><%= message %></strong></p>
        <% } %>
        <h1 class="h3 mb-3 font-weight-normal">Set New Password</h1>
        <% if (!user) { %>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2" disabled><strong>Email Address</strong></span>
            </div>
            <input type="email" class="form-control" id="email" placeholder="Confirm Email Address" required autofocus>
        </div>
        <p><small id="emailHelpBlock" class="form-text text-muted">Manual entry required to prevent email scanners using one-time use token!</small></p>
        <% } %>
        <% if (token != undefined && !user) { %>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2" disabled><strong>Token</strong></span>
              </div>
              <input type="text" class="form-control" id="token" value="<%= token %>" required>
          </div>
        <% } else if (!user) { %>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2"><strong>Token</strong></span>
              </div>
              <input type="text" class="form-control" id="token" placeholder="Token" required>
          </div>
        <% } %>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2" disabled><strong>New Password</strong></span>
            </div>
            <input type="password" id="password" name="password" pattern="(?=^.{12,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" autocomplete="new-password" required title="Must include UpperCase, LowerCase, Number/Special and Minimum 12 Characters">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2" disabled><strong>Confirm Password</strong></span>
            </div>
            <input type="password" id="verify" name="verify" pattern="(?=^.{12,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" autocomplete="new-password" required title="Re-enter Password">
        </div>
        <p><small id="passwordHelpBlock" class="form-text text-muted">Password must be at least 12 characters and include Upper Case, Lower Case and Number/ Symbol characters.</small></p>
        <br>
        <button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Save Password</button>
      </form>

      <script type="application/javascript">
        var password = document.getElementById("password")
        var verify = document.getElementById("verify");
        password.onchange = validatePassword;
        verify.onkeyup = validatePassword;

        function validatePassword(){
          if(password.value != verify.value) {
            verify.setCustomValidity("Passwords Don't Match");
          } else {
            verify.setCustomValidity('');
          }
        }

        $("#form-changePassword").submit(function(e) {
            e.preventDefault();
            var xhr = new XMLHttpRequest();
            var strPassword = $('#password').val();

            // Check if token and email exists, it might if use has come via "My Account" page
            if ($("#token").length && $("#email").length) {
              var token = $('#token').val().trim();
              var email = $('#email').val().trim();
              var params = "password=" + encodeURIComponent(strPassword)
              + "&email=" + encodeURIComponent(email)
              + "&token=" + encodeURIComponent(token);
            }
            else {
              var params = "password=" + encodeURIComponent(strPassword);
            }
            console.log(params);

            xhr.open('POST', '/change-password',true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
              if( xhr.readyState == 4 && xhr.status == 202) {
                //password changed
                alert(xhr.responseText);
                window.location = '/login';
              } else if (xhr.readyState == 4 && (xhr.status == 400 || xhr.status == 500)) {
                //show error
                alert(xhr.responseText);
                window.location = '/change-password';
              }
            }

            xhr.send(params);
        });
      </script>
  </div>
<%- include('../fragments/footer'); -%>