<% include ../fragments/header.ejs %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>Google Assistant support now available for testing!</strong> See <a href='/docs#account-linking'>here</a> for more information.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="container main-content">
    <h1 class="notranslate">Node-RED Smart Home Control</h1>

    <p>Welcome to the registration point for the <a href="http://nodered.org">Node-RED</a> Smart Home Control device bridge - this service works with both Alexa and Google Assistant.</p>

    <p>Using this "bridge" you can control a variety of endpoints, as outlined below. Useful target nodes for this skill include:</p>
    <ul>
      <li><a href="https://www.npmjs.com/package/node-red-contrib-chromecast">Chromecast</a></li>
      <li><a href="https://www.npmjs.com/package/node-red-contrib-avr-yamaha">Yamaha AV Receiver</a></li>
      <li>Built-In MQTT Send</li>
      <li>Built-In HTTP Request (use with KODI RPC for example)</li>
    </ul>
    <p>Note that some capabilities are region-specific, for more information (Alexa-specific) see <a href='https://developer.amazon.com/docs/device-apis/list-of-interfaces.html'>List of Capability Interfaces and Supported Locales.</a>
      Current regional limitations affecting this service:</p>
    <ul>
      <li><strong>Lock Controller:</strong> unavailable for users based in Italy and Mexico</li>
    </ul>
    <br>
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col">Alexa Interface</th>
          <th scope="col">Google Trait</th>
          <th scope="col">Supported Controls</th>
          <th scope="col">Example Usage</th>
          <th scope="col">Example Commands</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Brightness Control</th>
          <th scope="row">Brightness</th>
          <td>0-100%, increase, decrease</td>
          <td>MQTT-enabled smart bulb/ light</td>
          <td>"Alexa, set Lounge Light to 50%", "Alexa, (increase | reduce | dim) Lounge Light", "Hey Google, set Lounge Light to 50%"</td>
        </tr>
        <tr>
          <th scope="row">Channel Control</th>
          <th scope="row">Experimental (number only)</th>
          <td>Channel number or name etc. </td>
          <td>HTTP Out node</td>
          <td>"Alexa, set Lounge TV channel to (101 | BBC1)", "Hey Google, set Lounge TV to channel 101"</td>
        </tr>
        <tr>
          <th scope="row">Color Control</th>
          <th scope="row">ColorSetting</th>
          <td>Red, Green, Blue etc. </td>
          <td>MQTT-enabled smart bulb/ light</td>
          <td>"Alexa, set Lounge Light to (Green | Red | Yellow | etc)", "Hey Google, set Lounge Light to (Green | Red | Yellow | etc)"</td>
        </tr>
        <tr>
          <th scope="row">Color Temperature Control</th>
          <th scope="row">ColorSetting</th>
          <td>Warm, Warm White, Incandescent, Soft White, White, Daylight, Daylight White, Cool, Cool White</td>
          <td>MQTT-enabled smart bulb/ light</td>
          <td>"Alexa, set Lounge Light to Warm White", "Hey Google, set Lounge Light to Warm White"</td>
        </tr>
        <tr>
          <th scope="row">Contact Sensor</th>
          <th scope="row">ContactSensor</th>
          <td>*No commands*</td>
          <td>N/A</td>
          <td>"Alexa, is the Kitchen window open?" Note you can also use this interface as a trigger. </td>
        </tr>
        <tr>
          <th scope="row">Input Control</th>
          <th scope="row">None</th>
          <td>HDMI1, HDMI2, HDMI3, HDMI4, phono, audio1, audio2 and "chromecast"</td>
          <td>Yamaha Music Cast Amplifier</td>
          <td>"Alexa, on AV Receiver change input to HDMI1"</td>
        </tr>
        <tr>
          <th scope="row">Lock Control</th>
          <th scope="row">Experimental*</th>
          <td>Lock/ Unlock</td>
          <td>MQTT connected Lock</td>
          <td>"Alexa, Lock Front Door", "OK Google, unlock Front Door"</td>
        </tr>
        <tr>
          <th scope="row">Motion Sensor</th>
          <th scope="row">MotionSensor</th>
          <td>*No commands*</td>
          <td>N/A</td>
          <td>You can use this interface as a trigger with Alexa</td>
        </tr>
        <tr>
          <th scope="row">Playback Control</th>
          <th scope="row">Experimental</th>
          <td>Play, Pause, Stop, Fast Forward, Rewind, Next, Previous, Start Over</td>
          <td>Kodi RPC (including Plex Addon control)</td>
          <td>"Alexa, (pause | play | stop) Kitchen TV", "Hey Google, pause Kitchen TV</td>
        </tr>
        <tr>
          <th scope="row">Percentage Control</th>
          <th scope="row">None</th>
          <td>Increase by%, decrease by %, set to specific %</td>
          <td>Any MQTT enabled Fan</td>
          <td>"Alexa, set Bedroom Fan to 50%"</td>
        </tr>
        <tr>
          <th scope="row">Power Control</th>
          <th scope="row">OnOff</th>
          <td>On/ Off</td>
          <td>Any MQTT enabled smart-switch/ plug, KODI RPC (w/ HDMI CEC)</td>
          <td>"Alexa, turn (on | off) Kitchen Light", "Alexa, turn (on | off) Kitchen TV", "Hey Google, turn (on | off) Kitchen Light"</td>
        </tr>
        <tr>
          <th scope="row">Range Control</th>
          <th scope="row">OpenClose (Support for Blinds/ Awning only)</th>
          <td>0-100 (Blinds), 0-10 (Anything else)</td>
          <td>Any MQTT enabled smart blinds.</td>
          <td>"Alexa, (raise | lower) Kitchen Blind", "Alexa, set Kitchen Blind to 100", "Hey Google, (close | open) Kitchen Blind"</td>
        </tr>
        <tr>
          <th scope="row">Scene Control</th>
          <th scope="row">Scene</th>
          <td>On/ Off</td>
          <td>Any MQTT enabled smart-switch</td>
          <td>"Alexa, turn on Movie Night", "Hey Google, start Movie Night"</td>
        </tr>
        <tr>
          <th scope="row">Speaker Control</th>
          <th scope="row">Experimental</th>
          <td>Set volume to #, increase/ decrease volume, mute, unmute</td>
          <td>Amplifier, AVR, any device that can be set to a specific volume</td>
          <td>"Alexa, (increase | decrease | mute) volume on AV Receiver," "Alexa, set volume on AV Receiver to 50", "Hey Google, set AV Reciver volume to 25%"</td>
        </tr>
        <tr>
          <th scope="row">Step Speaker Control</th>
          <th scope="row">None</th>
          <td>Increase/ decrease volume, mute, unmute</td>
          <td>Device that cannot be set to specific volume, only increase/ decrease and mute</td>
          <td>"Alexa, (increase | decrease | mute) volume on AV Receiver"</td>
        </tr>
        <tr>
          <th scope="row">Temperature Sensor</th>
          <th scope="row">None</th>
          <td>*No commands*</td>
          <td>N/A</td>
          <td>"Alexa, what is the temperature the Lounge?"</td>
        </tr>
        <tr>
          <th scope="row">Thermostat Control (Single Point)</th>
          <th scope="row">TemperatureSetting</th>
          <td>Auto, Eco, Heat, Cool, specific temperature</td>
          <td>Any Thermostat endpoint in Node-Red</td>
          <td>"Alexa, set Thermostat to 22 degrees", "Hey Google, set Thermostat to 22 degrees"</td>
        </tr>
      </tbody>
    </table>
    <br />
    <p>*See market/ region specific restrictions above table.</p>
    <p><b>Disclaimer</b>: I/ the creators of this service and website are not responsible for any issues arising from it's use, including loss or damaged equipment, property, injury or life.
    You consume this service at your own risk.</p>
</div>
<% include ../fragments/footer.ejs %>