<%- include('../fragments/header'); -%>
  <div class="container main-content">
      <form class="form-lostPassword" id="form-lostPassword">
          <h1 class="h3 mb-3 font-weight-normal">Request Password Reset</h1>
          <label for="email" class="sr-only">Email Address</label>
          <input type="email" id="email" class="form-control" placeholder="Email Address" required autofocus title="Email address.">
          <br>
          <button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Reset Password</button>
        </form>

        <script type="application/javascript">
          $("#form-lostPassword").submit(function(e) {
              e.preventDefault();
              var xhr = new XMLHttpRequest();
              var email = document.getElementById('email').value;
              var params = 'email=' + encodeURIComponent(email);
              xhr.open('POST', '/lost-password',true);
              xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
              xhr.onreadystatechange = function () {
                if( xhr.readyState == 4 && xhr.status == 202) {
                  //new lostpassword token created
                  alert(xhr.responseText);
                  window.location = '/lost-password';
                } else if (xhr.readyState == 4 && (xhr.status == 400 || xhr.status == 500)) {
                  //show error
                  alert(xhr.responseText);
                }
              }
            xhr.send(params);
          });
      </script>
    </div>
  </div>
<%- include('../fragments/footer'); -%>