body {
  padding-top: 50px;
}

.main {
  display: flex;
}

.side-menu {
  float: left;
  padding-top: 60px;
  width: 150px;
}

.main-content {
  padding-left: 10px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.device {
	
}

.deviceName {
	float: left;
	width: 200px;
}

.deviceDescription {
	float: left;
	width: 500px;
}