body {
  padding-top: 50px;
}

.main {
  display: flex;
}

.login {
	float: right;
}

.side-menu {
  float: left;
  padding-top: 60px;
  width: 150px;
}

.main-content {
  padding-left: 10px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.device {
	padding: 5px;
	margin: 1px;
	border: 1px solid;	
}

.deviceName {
	float: left;
	width: 200px;
}

.deviceDescription {
	float: left;
	width: 500px;
}

.action {
	padding: 1px;
	margin: 1px;
	border: 1px solid;
}

.service {
	padding: 5px;
	margin: 1px;
	border: 1px solid;	
}

.serviceTitle {
	float: left;
	width: 200px;
}

.serviceId {
	float: left;
	width: 100px;
}

.serviceSecret {
	float: left;
	width: 150px;
}

.serviceDomains {
}


