<!-- Modal Start -->
<div class="modal fade" id="newDeviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="newDeviceModalTitle">Device Configuration</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form class="form-device" id="form-device">
				<div class="modal-body">
					<div class="form-group">
						<input id="devID" type="hidden">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1"><strong>Name</strong></span>
							</div>
							<input type="text" class="form-control" id="friendlyName" required>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon2"><strong>Description</strong></span>
							</div>
							<input type="text" class="form-control" id="description" required>
						</div>
					</div>
					<div class="form-group" id="googleHomeOptions">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1"><strong>Google Room Hint</strong></span>
							</div>
							<input type="text" class="form-control" id="roomHint" placeholder="Optional">
						</div>
					</div>
					<div class="row" align="justify">
						<div class="col-sm">
							<div class="form-group" id="simpleTypes">
								<h5 class="modal-title">Device Type</h5>
								<div class="form-check">
									<input title="Activity/ Scene" type="checkbox" class="form-check-input" id="ACTIVITY_TRIGGER" name="appType" value="ACTIVITY_TRIGGER" onclick='checkType(this)'>
									<label class="form-check-label" for="ACTIVITY_TRIGGER">
											Activity/ Scene <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
									</label>
									<br />
								</div>
								<div class="form-check">
									<input title="Contact Sensor" type="checkbox" class="form-check-input" id="CONTACT_SENSOR" name="appType" value="CONTACT_SENSOR" onclick='checkType(this)'>
									<label class="form-check-label" for="CONTACT_SENSOR">
											Contact Sensor  <img src="/static/images/alexa-24px.png"></img>
									</label>
								</div>
								<div class="form-check">
									<input title="Exterior Blind" type="checkbox" class="form-check-input" id="EXTERIOR_BLIND" name="appType" value="EXTERIOR_BLIND" onclick='checkType(this)'>
									<label class="form-check-label" for="EXTERIOR_BLIND">
											Exterior Blind <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
									</label>
									<br />
								</div>
								<div class="form-check">
									<input title="Fan" type="checkbox" class="form-check-input" id="FAN" name="appType" value="FAN" onclick='checkType(this)'>
									<label class="form-check-label" for="FAN">
											Fan <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
									</label>
									<br />
								</div>
								<div class="form-check">
									<input title="Interior Blind" type="checkbox" class="form-check-input" id="INTERIOR_BLIND" name="appType" value="INTERIOR_BLIND" onclick='checkType(this)'>
									<label class="form-check-label" for="INTERIOR_BLIND">
											Interior Blind <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
									</label>
									<br />
								</div>
								<div class="form-check">
									<input title="Light" type="checkbox" class="form-check-input" id="LIGHT" name="appType" value="LIGHT" onclick='checkType(this)'>
									<label class="form-check-label" for="LIGHT">
											Light/ Bulb <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
									</label>
									<br />
								</div>
								<div class="form-check">
									<input title="Motion Sensor" type="checkbox" class="form-check-input" id="MOTION_SENSOR" name="appType" value="MOTION_SENSOR" onclick='checkType(this)'>
									<label class="form-check-label" for="MOTION_SENSOR">
											Motion Sensor  <img src="/static/images/alexa-24px.png"></img>
									</label>
								</div>
								<div class="form-check">
									<input title="TV" type="checkbox" class="form-check-input" id="TV" name="appType" value="TV" onclick='checkType(this)'>
									<label class="form-check-label" for="TV">
											Multimedia <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
									</label>
									<br />
								</div>
								<div class="form-check">
										<input title="Smart Lock" type="checkbox" class="form-check-input" id="SMARTLOCK" name="appType" value="SMARTLOCK" onclick='checkType(this)'>
										<label class="form-check-label" for="SMARTLOCK">
												Smart Lock <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
										</label>
										<br />
								</div>
								<div class="form-check">
										<input title="Smart Plug" type="checkbox" class="form-check-input" id="SMARTPLUG" name="appType" value="SMARTPLUG" onclick='checkType(this)'>
										<label class="form-check-label" for="SMARTPLUG">
												Smart Plug/ Outlet  <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
										</label>
										<br />
									</div>
								<div class="form-check">
									<input title="Smart Switch" type="checkbox" class="form-check-input" id="SWITCH" name="appType" value="SWITCH" onclick='checkType(this)'>
									<label class="form-check-label" for="SWITCH">
											Smart Switch  <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
									</label>
									<br />
								</div>
								<div class="form-check">
									<input title="Speaker" type="checkbox" class="form-check-input" id="SPEAKER" name="appType" value="SPEAKER" onclick='checkType(this)'>
									<label class="form-check-label" for="SPEAKER">
											Speaker  <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
									</label>
									<br />
								</div>
								<div class="form-check">
									<input title="Temperature Sensor" type="checkbox" class="form-check-input" id="TEMPERATURE_SENSOR" name="appType" value="TEMPERATURE_SENSOR" onclick='checkType(this)'>
									<label class="form-check-label" for="TEMPERATURE_SENSOR">
											Temperature Sensor  <img src="/static/images/alexa-24px.png"></img>
									</label>
								</div>
								<div class="form-check">
									<input title="Thermostat" type="checkbox" class="form-check-input" id="THERMOSTAT" name="appType" value="THERMOSTAT" onclick='checkType(this)'>
									<label class="form-check-label" for="THERMOSTAT">
											Thermostat/ HVAC <img src="/static/images/alexa-24px.png"></img><img src="/static/images/google-24px.png"></img>
									</label>
								</div>
								<div class="form-check">
										<input title="ADVANCED" type="checkbox" class="form-check-input" id="OTHER" name="appType" value="OTHER" onclick='checkType(this)'>
										<label class="form-check-label" for="OTHER">
												<a data-toggle="tooltip" data-placement="right" title="'Expert' mode, define your own custom device. ! Results may vary !">Advanced/ Other <img src="/static/images/alexa-24px.png"></img>&nbsp;<img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
									<br />
								</div>
							</div>
						</div>
						<!-- Enable/ disable capabilities based on types, hide this div if Advanced selected above -->
						<div class="col-sm">
							<div class="form-group" id="simpleOptions">
								<h5 class="modal-title">Interfaces</h5>
								<fieldset class="form-group" id="capabilityType">
									<div class="form-check">
										<input title="Brightness Control" type="checkbox" class="form-check-input" name="capabilities" id="BrightnessController" value="BrightnessController">
										<label class="form-check-label" for="BrightnessController">
											<a data-toggle="tooltip" data-placement="right" title="Set percentage, increase, decrease, dim">Brightness <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
										<input title="Channel Control" type="checkbox" class="form-check-input" name="capabilities" id="ChannelController" value="ChannelController">
										<label class="form-check-label" for="ChannelController">
												<a data-toggle="tooltip" data-placement="right" title="Change channel by name or number">Channel <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
									<br />
									</div>
									<div class="form-check">
										<input title="Color Control" type="checkbox" class="form-check-input" name="capabilities" id="ColorController" value="ColorController">
										<label class="form-check-label" for="ColorController">
												<a data-toggle="tooltip" data-placement="right" title="Set color by name">Color <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
										<input title="Color Temperature Control" type="checkbox" class="form-check-input" name="capabilities" id="ColorTemperatureController" value="ColorTemperatureController">
										<label class="form-check-label" for="ColorTemperatureController">
												<a data-toggle="tooltip" data-placement="right" title="Set color temperature, increase, decrease, cooler, warmer">Color Temperature <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
										<input title="Contact Sensor" type="checkbox" class="form-check-input" name="capabilities" id="ContactSensor" value="ContactSensor">
										<label class="form-check-label" for="ContactSensor">
											<a data-toggle="tooltip" data-placement="right" title="Make sensor data retrievable">Contact Sensor <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
									</div>
									<div class="form-check">
											<input title="Input Control" type="checkbox" class="form-check-input" name="capabilities" id="InputController" value="InputController">
										<label class="form-check-label" for="InputController">
												<a data-toggle="tooltip" data-placement="right" title="Set device input by name, i.e. HDMI1, Phono">Input <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
											<input title="Lock Control" type="checkbox" class="form-check-input" name="capabilities" id="LockController" value="LockController">
										<label class="form-check-label" for="LockController">
											<a data-toggle="tooltip" data-placement="right" title="Lock and unlock">Lock <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
										<input title="Motion Sensor" type="checkbox" class="form-check-input" name="capabilities" id="MotionSensor" value="MotionSensor">
										<label class="form-check-label" for="MotionSensor">
											<a data-toggle="tooltip" data-placement="right" title="Make sensor data retrievable">Motion Sensor <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
									</div>
									<div class="form-check">
										<input title="Percentage Control" type="checkbox" class="form-check-input" name="capabilities" id="PercentageController" value="PercentageController">
									<label class="form-check-label" for="PercentageController">
											<a data-toggle="tooltip" data-placement="right" title="Set percentage, reduce, increase">Percentage <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
									</label>
									<br />
									</div>
									<div class="form-check">
											<input title="Playback Control" type="checkbox" class="form-check-input" name="capabilities" id="PlaybackController" value="PlaybackController">
										<label class="form-check-label" for="PlaybackController">
												<a data-toggle="tooltip" data-placement="right" title="Play, pause, stop, rewind, fast-forword, next, previous">Playback <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
											<input title="Power Control" type="checkbox" class="form-check-input" name="capabilities" id="PowerController" value="PowerController">
										<label class="form-check-label" for="PowerController">
												<a data-toggle="tooltip" data-placement="right" title="Turn on, turn off">Power <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
											<input title="Range Control" type="checkbox" class="form-check-input" name="capabilities" id="RangeController" value="RangeController">
										<label class="form-check-label" for="RangeController">
												<a data-toggle="tooltip" data-placement="right" title="Blinds 1-100 with Open and Close presets, other devices 1 -> 10 with Low, Medium and High presets ">Range<img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
											<input title="Scene Control" type="checkbox" class="form-check-input" name="capabilities" id="SceneController" value="SceneController">
										<label class="form-check-label" for="SceneController">
												<a data-toggle="tooltip" data-placement="right" title="Enable scene or activity (collection of actions)">Scene <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
										<input title="Speaker Control" type="checkbox" class="form-check-input" name="capabilities" id="Speaker" value="Speaker">
										<label class="form-check-label" for="Speaker">
												<a data-toggle="tooltip" data-placement="right" title="'Smart' speaker, set volume to specific value, increase, decrease, mute and unmute">Speaker <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
										<input title="Step Speaker Control" type="checkbox" class="form-check-input" name="capabilities" id="StepSpeaker" value="StepSpeaker">
										<label class="form-check-label" for="StepSpeaker">
											<a data-toggle="tooltip" data-placement="right" title="'Dumb'-speaker, increase, decrease volume, mute and unmute">Speaker (basic) <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
									<div class="form-check">
										<input title="Temperature Sensor" type="checkbox" class="form-check-input" name="capabilities" id="TemperatureSensor" value="TemperatureSensor">
										<label class="form-check-label" for="TemperatureSensor">
											<a data-toggle="tooltip" data-placement="right" title="Make sensor data retrievable">Temperature Sensor <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
									</div>
									<div class="form-check">
										<input title="Thermostat Control" type="checkbox" class="form-check-input" name="capabilities" id="ThermostatController" value="ThermostatController">
										<label class="form-check-label" for="ThermostatController">
											<a data-toggle="tooltip" data-placement="right" title="Set temperature, increase, decrease, set mode to heat or cool">Thermostat <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<br />
									</div>
								</fieldset>
							</div>
						</div>
					</div>
					<!-- Advanced Configuration -->
					<div class="row" align="justify">
						<div class="col-sm">
							<fieldset class="form-group">
								<div id="thermostatModeOptions">
									<h5 class="modal-title">Thermostat Modes</h5>
									<div class="form-check">
										<input title="AUTO" type="checkbox" class="form-check-input" name="thermostatModes" id="AUTO" value="AUTO">
										<label class="form-check-label" for="AUTO">Auto </label>
										<br />
										<input title="COOL" type="checkbox" class="form-check-input" name="thermostatModes" id="COOL" value="COOL">
										<label class="form-check-label" for="COOL">Cool </label>
										<br />
										<input title="HEAT" type="checkbox" class="form-check-input" name="thermostatModes" id="HEAT" value="HEAT">
										<label class="form-check-label" for="HEAT">Heat </label>
										<br />
										<input title="ECO" type="checkbox" class="form-check-input" name="thermostatModes" id="ECO" value="ECO">
										<label class="form-check-label" for="ECO">Eco </label>
										<br />
										<input title="ON" type="checkbox" class="form-check-input" name="thermostatModes" id="ON" value="ON">
										<label class="form-check-label" for="ON">On <img src="/static/images/google-24px.png"></img></label>
										<br />
										<input title="OFF" type="checkbox" class="form-check-input" name="thermostatModes" id="OFF" value="OFF">
										<label class="form-check-label" for="OFF">Off </label>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-sm">
							<fieldset class="form-group">
								<div id="validRangeOptions">
									<h5 class="modal-title">Supported Range</h5>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroup-sizing-default">Min Value (째/K)</span>
										</div>
										<input id="minimumValue" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" disabled>
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroup-sizing-default">Max Value (째/K)</span>
										</div>
										<input id="maximumValue" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" disabled>
									</div>
								</div>
							</div>
						</div>
						<div class="row" align="justify">
							<div class="col-sm">
								<div id="validRangeScaleOptions">
									<h5 class="modal-title">Scale Options</h5>
									<div class="form-check form-check-inline" style="padding-left:5px;">
										<input class="form-check-input" type="checkbox" name="radioScale" id="Celsius" value="CELSIUS" disabled>
										<br>
										<label class="form-check-label" id="lblCelsius" for="Celsius">째Celsius</label>
									</div>
									<div class="form-check form-check-inline" style="padding-top: 10px;">
										<input class="form-check-input" type="checkbox" name="radioScale" id="Farenheit" value="FAHRENHEIT" disabled>
										<label class="form-check-label" id="lblFarenheit" for="Farenheit">째Fahrenheit</label>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-sm">
							<div class="form-group" id="ghomeSecurity">
								<fieldset class="form-group">
									<h5 class="modal-title">Google Home 2FA</h5>
									<div class="form-check">
										<input title="Require PIN" type="checkbox" class="form-check-input" id="RequirePIN">
										<label class="form-check-label" for="RequirePIN">
											<a data-toggle="tooltip" data-placement="right" title="Require second factor/ PIN for command execution">Require PIN <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroup-sizing-default">Device PIN</span>
										</div>
										<input id="pin" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" pattern="^[0-9]{4,6}$" disabled>
									</div>
								</fieldset>
							</div>
							<div class="form-group" id="stateReporting">
								<fieldset class="form-group">
									<h5 class="modal-title">State Reporting</h5>
									<div class="form-check">
										<input title="Report State" type="checkbox" class="form-check-input" id="ReportState">
										<label class="form-check-label" for="ReportState">
											<a data-toggle="tooltip" data-placement="right" title="State reporting via Alexa App is rate-limited to 100 reqs/ hr per device">Report State <img class="octicon octicon-question" src="static/octicons/question-16.svg"></img></a>
										</label>
										<small id="reportStateInfo" class="form-text text-muted"><a href="/docs#state-reporting">See State Reporting help for more information</a></small>
									</div>
								</fieldset>
							</div>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button class="btn btn-primary" id="submit" type="submit" value="submit">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Modal End -->
