<h1 class="h3 mb-3 font-weight-normal">Register for an Account</h1>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" style="width: 102px;" id="basic-addon2" disabled><strong>Username</strong></span>
    </div>
    <input type="text" id="username" name="username" style="text-transform: lowercase;" pattern="^[a-z0-9]{5,15}$" class="form-control" autocapitalize="none" required autofocus title="a-z, 0-9 characters and be 5-15 chars." autocomplete="username">
</div>
<p><small id="usernameHelpBlock" class="form-text text-muted">Must be lower case, 5-15 chars including a-z and 0-9.</small></p>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" style="width: 102px;" id="basic-addon2" disabled><strong>Email</strong></span>
    </div>
    <input type="email" id="email" class="form-control" required title="Email address.">
</div>
<p><small id="emailHelpBlock" class="form-text text-muted">You will be required to verify your email address.</small></p>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" style="width: 102px;" id="basic-addon2" disabled><strong>Country</strong></span>
    </div>
    <input type="text" style="width: 309px;" id="country" class="form-control" required>
    <input type="text" id="country_code" name="country_code" data-countrycodeinput="1" readonly="readonly" hidden />
</div>
<p><small id="countryHelpBlock" class="form-text text-muted">Must match country of Amazon Account used with Alexa/ Echo Devices.</small></p>
<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 165px;" id="basic-addon2" disabled><strong>Password</strong></span>
        </div>
        <input type="password" id="password" name="password" pattern="(?=^.{12,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" autocomplete="new-password" required title="Must include UpperCase, LowerCase, Number/Special and Minimum 12 Characters">
</div>
<p><small id="passwordHelpBlock" class="form-text text-muted">Minimum 12 characters, must include Upper/ Lower Case, Numerical/ Symbol characters.</small></p>
<small id="tosLink" class="form-text text-muted"><a href="#tosModal">View Terms of Service</a></small>
<small id="privacyLink" class="form-text text-muted"><a href="#privacyModal">View Privacy Policy</a></small>
<br>
<button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Register</button>

<!--
<label for="username" class="sr-only">Username</label>
<input type="text" id="username" name="username" style="text-transform: lowercase;" pattern="^[a-z,A-Z,0-9,_]{5,15}$" class="form-control" autocapitalize="none" placeholder="Username" required autofocus title="a-z, 0-9 characters and be 5-15 chars." autocomplete="username">
<small id="usernameHelpBlock" class="form-text text-muted">Username is lower case, can include a-z, 0-9 characters and be 5-15 chars.</small>
<br>
<label for="email" class="sr-only">Email Address</label>
<input type="email" id="email" class="form-control" placeholder="Email Address" required title="Email address.">
<small id="emailHelpBlock" class="form-text text-muted">You will be required to verify your email address.</small>
<br>
<label for="country" class="sr-only">Country</label>
<input type="text" id="country" class="form-control" required>
<input type="text" id="country_code" name="country_code" data-countrycodeinput="1" readonly="readonly" hidden />
<small id="countryHelpBlock" class="form-text text-muted">Used to route Alexa API requests to correct Amazon region gateway.</small>
<br>
<label for="password" class="sr-only">Password</label>
<input type="password" id="password" name="password" pattern="{12,}$" class="form-control" autocomplete="new-password" placeholder="Password" required title="Minimum 12 characters">
<small id="passwordHelpBlock" class="form-text text-muted">Password must be at least 12 characters.</small>
<br>
<label for="verify" class="sr-only">Re-enter Password</label>
<input type="password" id="verify" name="verify" pattern="{12,}$" class="form-control" autocomplete="new-password" placeholder="Re-enter Password" required title="Re-enter Password">
<small id="tosLink" class="form-text text-muted"><a href="#tosModal">View Terms of Service</a></small>
<small id="privacyLink" class="form-text text-muted"><a href="#privacyModal">View Privacy Policy</a></small>
<br>
<button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Register</button>
-->