<h2>CB-Net Terms of Service</h2>
<!--<div id="google_translate_element"></div> Translate Bar -->
<h3>1. Terms</h3>
<p><small>By accessing the website & services hosted at <a href="https://<%= fqdn %>/">https://<%= fqdn %>/</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</small></p>
<h3>2. Use License</h3>
<p><small>Copyright 2019 CB-Net</small></p>
<p><small>Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at:
</small></p>
<p><small id="privacyLink" class="form-text text-muted"><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></small></p>
<p><small>
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
</small></p>
<h3>3. Disclaimer</h3>
<ol type="a">
   <li><small>The materials on CB-Net's website are provided on an 'as is' basis. CB-Net makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</small></li>
   <li><small>Further, CB-Net does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</small></li>
</ol>
<h3>4. Limitations</h3>
<p><small>In no event shall CB-Net or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on CB-Net's website, even if CB-Net or a CB-Net authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</small></p>
<h3>5. Accuracy of materials</h3>
<p><small>The materials appearing on CB-Net's website could include technical, typographical, or photographic errors. CB-Net does not warrant that any of the materials on its website are accurate, complete or current. CB-Net may make changes to the materials contained on its website at any time without notice. However CB-Net does not make any commitment to update the materials.</small></p>
<h3>6. Links</h3>
<p><small>CB-Net has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by CB-Net of the site. Use of any such linked website is at the user's own risk.</small></p>
<h3>7. Modifications</h3>
<p><small>CB-Net may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</small></p>
<h3>8. Governing Law</h3>
<p><small>These terms and conditions are governed by and construed in accordance with the laws of United Kingdom and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</small></p>
