<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>About this Service</h1>
    <p>You can read about the origins of this service <a href="http://www.hardill.me.uk/wordpress/2016/11/05/alexa-home-skill-for-node-red/">here</a></p>
    <p>The Gitlab <a href="https://github.com/coldfire84/node-red-alexa-home-skill-v3-web/blob/master/README.md">README.md</a> 
      contains extensive information regarding the service and it's component parts</p>
    
    <h2>Questions, Bugs and Feature Requests</h2>
    <p>If you have a bug with the service please raise an issue on github <a href="https://github.com/coldfire84/node-red-alexa-home-skill-v3-web/issues">here</a></p>
    
    <h2>Privacy Policy</h2>
    <p>Click to view the <a href="https://www.cb-net.co.uk/privacy-policy/">Privacy Policy</a> associated with this service.</p>

    <p>In effect limited persona data is stored, namely your email address, username and information you enter for specific devices that 
      you wish to control. </p>
    
    <p>Cookies are used to maintain browser sessions and track service performance through the Google Analytics platforms. This data 
      enables future service enhancements/ development to address performance issues.</p>
  </div
<% include ../fragments/footer.ejs %>
