<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>About</h1>

    <h2>Privacy Policy</h2>
    <p>No information will be shared with 3rd parties</p>
    <p>Email addresses will only be used for comunication about the operaton of the service</p>

  </div
<% include ../fragments/footer.ejs %>