<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <form class="form-changePassword" id="form-changePassword">
        <h1 class="h3 mb-3 font-weight-normal">Set New Password</h1>
        <label for="password" class="sr-only">New Password</label>
        <input type="password" id="password" name="password" pattern="^[a-z,A-Z,0-9,_]{10,32}$" class="form-control" placeholder="New Password" required title="Minimum 10, maximum 32 chars." autocomplete="new-password">
        <small id="passwordHelpBlock" class="form-text text-muted">Password must be 10-32 chars, a-Z, 0-9.</small>
        <br>
        <label for="verify" class="sr-only">Confirm New Password</label>
        <input type="password" id="verify" name="verify" pattern="^[a-z,A-Z,0-9,_]{10,32}$" class="form-control" placeholder="Re-enter Password" required title="Re-enter Password" autocomplete="new-password">
        <br>
        <button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Reset Password</button>
      </form>

      <script type="application/javascript">
        var password = document.getElementById("password")
        var verify = document.getElementById("verify");
        password.onchange = validatePassword;
        verify.onkeyup = validatePassword;

        function validatePassword(){
          if(password.value != verify.value) {
            verify.setCustomValidity("Passwords Don't Match");
          } else {
            verify.setCustomValidity('');
          }
        }

        $("#form-changePassword").submit(function(e) {
            e.preventDefault();
            var xhr = new XMLHttpRequest();
            var params = "password=" + encodeURIComponent(password.value);
            xhr.open('POST', '/changePassword',true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
              if( xhr.readyState == 4 && xhr.status == 200) {
                //password changed
                window.location = '/';
              } else if (xhr.readyState == 4 && xhr.status == 400) {
                //show error
                alert(xhr.responseText);
              }
            }
            
            xhr.send(params);
        });
      </script>
  </div>
<% include ../fragments/footer.ejs %>