<% include ../fragments/header.ejs %>
<div class="container main">
    <div class="container main-content">
      <h1>Documentation</h1>
      <p>Welcome to the Node-RED Smart Home Control bridge documentation</p>
      <br>
      <p>To get up and running follow <a href='https://github.com/coldfire84/node-red-alexa-home-skill-v3-web/wiki/Use-the-Hosted-Instance'>these instructions.</a></p>
      <br>
      <h2>Example Flows</h2>
      <p>You can view example flows in the <a href='https://github.com/coldfire84/node-red-alexa-home-skill-v3-web/wiki/Example-Flows'>GitHub Wiki</a> for the service.</p>     
    </div>
</div>
<% include ../fragments/footer.ejs %>
