<% include ../fragments/header.ejs %>
<div class="container main">
    <div class="container main-content">
      <h1>Documentation</h1>
      <p>Welcome to the Node-RED Alexa Smart Home <b>v3</b> bridge documentation</p>
    
      To get up and running you need to:
      <ol style="list-style-type:circle">
        <li>Request extension of the v3 skill to your amazon account</li>
        <li>Create a bridge account <a target="_blank" href="/newuser">here</a> </li>
        <li>Link the skill with your amazon account</li>
        <li>Define devices on the bridge <a target="_blank" href="/devices">here</a></li>
        <li>Discover devices in the Alexa App/ using the "Alexa, discover devices" voice command</li>
        <li>Install <a href="https://github.com/coldfire84/node-red-contrib-alexa-home-skill-v3">nodes for the bridge add-on</a></li>
        <li>Configure Flows within Node-Red</li>
      </ol>

      <h2>Example Device Definition</h2>
      <p>You can declare a variety of devices, such as those illustrated below:</p>
      <p><img class="action" src="/images/DevicesExample.png" title="DevicesExample"></p>

      <h2>Example Flows</h2>
      The Nodes provide a simple way to interact with your existing/ new flows to control an array of devices such as those
      available via MQTT and HTTP.
    
      <h3>Power Controller</h3>
      <p>This flow shows a simple Power Controller example for a Smart Light Switch, this can be used to switch a device on and off.</p>
      <p><img class="action" src="/images/PowerControllerExample.png" title="PowerControllerExample"></p>
      
      <h3>Playback Controller</h3>
      <p>This flow shows a simple Playback Controller example for a Kodi RPC endpoint (used as a Plex client).</p>
      <p><img class="action" src="/images/PlaybackControllerExample.png" title="PlaybackControllerExample"></p>

      <h3>Input Controller</h3>
      <p>This flow shows a simple Input Controller example for a Yamaha Musiccast AV Receiver (using Yamaha AVR Nodes as endpoint).</p>
      <p><img class="action" src="/images/InputControllerExample.png" title="InputkControllerExample"></p>

      <h2>Response Handling</h2>
      <p>By default nodes will automatyically acknowledge any request vai the Skill API. This means that <b>irrespective of whether 
        the flow generates the desired outcome Alexa will respond as if it has.</b></p>

      <p>In the case of the Thermostat Controller interface I even use the target temperature/ measurement unit from the original
        request directly in the response.</p>
        
      <p>You can change this by disabling the "Auto Acknowledge" option and using a Alexa Smart Home v3 Response Node.</p>
      
      <p>Any responses <b>must</b> be sent within <b>2 seconds</b> of the incoming request or the service will respond to Alexa with a 
        timeout message.</p>
      
      <p><img class="action" src="/images/AutoAcknowledge.png" title="AutoAcknowledge"></p>

      <h3>Alexa Smart Home v3 Response Node</h3>
      <p>This node is for if you want to have more control over the response sent back to the Alexa service.</p>
      
      <h4><b>Response Node Unused Functionality</b></h4>
      <p>It is possible to use the "<b>payload.extra</b>" value to post information back from 
        Node-Red > Web Service > Alexa Smart Skill.</p>

      <p><b>At present this is not used across any of the capabilties.</b> This capability remains in place for future development.</p> 
    </div>
</div>
<% include ../fragments/footer.ejs %>