<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>Node-RED-Home-Skill-v3</h1>
    <p>This site is the registration point for using the node-red-contrib-alexa-home-skill 
    <a href="http://nodered.org">Node-RED</a> module.</p>

    <p>Revised, v3-compatible version of original skill</p>
</div>
<% include ../fragments/footer.ejs %>