<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>Node-RED Home Skill v3</h1>

    <p>Welcome to the registration point for the <a href="http://nodered.org">Node-RED</a> Home Skill API <b>version 3</b> bridge.
         
    <p>Using this "bridge" you can control a variety of endpoints, as outlined below. Useful target nodes for this skill include:</p>
    <ul>
      <li><a href="https://www.npmjs.com/package/node-red-contrib-chromecast">Chromecast</a></li>
      <li><a href="https://www.npmjs.com/package/node-red-contrib-avr-yamaha">Yamaha AV Receiver</a></li>
      <li>Built-In MQTT Send</li>
      <li>Built-In HTTP Request (use with KODI RPC for example)</li>
    </ul>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Alexa Interface</th>
          <th scope="col">Supported Controls</th>
          <th scope="col">Example Usage</th>
          <th scope="col">Example Commands</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Brightness Control</th>
          <td>0-100%</td>
          <td>MQTT-enabled smart bulb/ light</td>
          <td>"Alexa, set Lounge Light to 50%", "Alexa, (increase || reduce || dim) Lounge Light" </td>
        </tr>
        <tr>
          <th scope="row">Color Control</th>
          <td>Red, Green, Blue etc. </td>
          <td>MQTT-enabled smart bulb/ light</td>
          <td>"Alexa, on AV Receiver change input to HDMI1"</td>
        </tr>
        <tr>
          <th scope="row">Color Temperature Control</th>
          <td>Warm, Warm White, Incandescent, Soft White, White, Daylight, Daylight White, Cool, Cool White</td>
          <td>MQTT-enabled smart bulb/ light</td>
          <td>"Alexa, set Lounge Light to Warm White"</td>
        </tr>
        <tr>
          <th scope="row">Input Control</th>
          <td>HDMI1, HDMI2, HDMI3, HDMI4, phono, audio1, audio2 and "chromecast"</td>
          <td>Yamaha Music Cast Amplifier</td>
          <td>"Alexa, on AV Receiver change input to HDMI1"</td>
        </tr>
        <tr>
          <th scope="row">Playback Control</th>
          <td>Play, Pause, Stop</td>
          <td>Kodi RPC (including Plex Addon control)</td>
          <td>"Alexa, (pause | play | stop) Kitchen TV"</td>
        </tr>
        <tr>
          <th scope="row">Power Control</th>
          <td>On/ Off</td>
          <td>Any MQTT enabled smart-switch/ plug, KODI RPC (w/ HDMI CEC)</td>
          <td>"Alexa, turn (on | off) Kitchen Light", "Alexa, turn (on | off) Kitchen TV</td>
        </tr>
        <tr>
          <th scope="row">Scene Control</th>
          <td>On/ Off</td>
          <td>Any MQTT enabled smart-switch</td>
          <td>"Alexa, turn on Movie Night"</td>
        </tr>
        <tr>
          <th scope="row">Speaker (Step) Control</th>
          <td>On/ Off</td>
          <td>Yamaha Music Cast Amplifier</td>
          <td>"Alexa, (increase | decrease) volume on AV Receiver"</td>
        </tr>
        <tr>
          <th scope="row">Thermostat Control (Single Point)</th>
          <td>On/ Off</td>
          <td>Any Thermostat endpoint in Node-Red</td>
          <td>"Alexa, set Thermostat to 22 degrees"</td>
        </tr>
      </tbody>
    </table>
</div>
<% include ../fragments/footer.ejs %>