<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <% if (message) { %>
      <p><strong><%= message %></strong></p>
    <% } %>
    <div id="login">
      <form class="form-signin" method="POST" action="/login">
        <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" autocomplete="username" placeholder="Username" required autofocus>
        <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" autocomplete="current-password" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-secondary btn-block" type="submit" value="login">Sign In</button>
        <br>
        <p> <a href="/lostPassword">Lost password?</a></p>
        <p> <a href="/newuser">Register for an account?</a></p>
      </form>
    </div>

  </div>
<% include ../fragments/footer.ejs %>