<% include ../fragments/header.ejs %>
<div class="container main-content">
    <div id="google_translate_element"></div><!-- Translate Bar -->
    <% include ../fragments/privacy-policy.ejs %>
</div>
<!-- Translate Bar Start -->
<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
    }
</script>
    
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- Translate Bar End -->
<% include ../fragments/footer.ejs %>