<% include ../fragments/header.ejs %>
<div>
        <img src="/images/blank.gif" class="flag flag-fr" alt="France" role="button" onclick="gTranslate('fr')" />
        <img src="/images/blank.gif" class="flag flag-de" alt="Germany" role="button" onclick="gTranslate('de')" />
        <img src="/images/blank.gif" class="flag flag-jp" alt="Japan" role="button" onclick="gTranslate('jp')" />
        <img src="/images/blank.gif" class="flag flag-mx" alt="Mexico" role="button" onclick="gTranslate('mx')" />
        <img src="/images/blank.gif" class="flag flag-it" alt="Italy" role="button" onclick="gTranslate('it')" />
        <img src="/images/blank.gif" class="flag flag-es" alt="Spain" role="button" onclick="gTranslate('es')" />
        <img src="/images/blank.gif" class="flag flag-gb" alt="United Kingdom" role="button" onclick="gTranslate('en')" />
        <img src="/images/blank.gif" class="flag flag-us" alt="United States of America" role="button" onclick="gTranslate('en')" />
</div>

<div class="container main-content">
    <% include ../fragments/privacy-policy.ejs %>
</div>
<!-- Translate Bar Start
<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
    }
</script>
    
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
Translate Bar End -->

<script>
    function gTranslate(language) {
        //var language = document.getElementById("language").value;
        var selectField = document.querySelector("#google_translate_element select");
        for(var i=0; i < selectField.children.length; i++){
            var option = selectField.children[i];
            // find desired langauge and change the former language of the hidden selection-field 
            if(option.value==language){
                selectField.selectedIndex = i;
                // trigger change event afterwards to make google-lib translate this side
                selectField.dispatchEvent(new Event('change'));
                break;
            }
        }
    }
</script>

<% include ../fragments/footer.ejs %>