<% include ../fragments/header.ejs %>
  <div class="container main-content">
      <!-- <div id="register"> -->
        <!-- <form class="form-register" id="form-register" onsubmit="submitUser()"> -->
        <form class="form-register" id="form-register">
            <h1 class="h3 mb-3 font-weight-normal">Register for an Account</h1>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" pattern="^[a-z,A-Z,0-9,_]{5,15}$" class="form-control" placeholder="Username" required autofocus title="a-z, A-Z, 0-9 characters and be 5-15 chars.">
            <small id="usernameHelpBlock" class="form-text text-muted">Username must only include a-z, A-Z, 0-9 characters and be 5-15 chars.</small>
            <br>
            <label for="email" class="sr-only">Email Address</label>
            <input type="email" id="email" class="form-control" placeholder="Email Address" required title="Email address.">
            <br>
            <br>
            <label for="country" class="sr-only">Country</label>
            <input type="text" id="country" class="form-control" required>
            <input type="text" id="country_code" name="country_code" data-countrycodeinput="1" readonly="readonly" placeholder="Selected country code will appear here" />
            <br>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" pattern="^[a-z,A-Z,0-9,_]{10,32}$" class="form-control" placeholder="Password" required title="Minimum 10, maximum 32 chars.">
            <small id="passwordHelpBlock" class="form-text text-muted">Password must be 10-32 chars, a-Z, 0-9.</small>
            <br>
            <label for="verify" class="sr-only">Re-enter Password</label>
            <input type="password" id="verify" name="verify" pattern="^[a-z,A-Z,0-9,_]{10,32}$" class="form-control" placeholder="Re-enter Password" required title="Re-enter Password">
            <br>
            <button class="btn btn-lg btn-secondary btn-block" id="submit" type="submit" value="submit">Register</button>
        </form>
      <!--  </div> -->
      <!--  <script type="text/javascript" src="js/zxcvbn.js"></script> -->

      <script type="application/javascript">
        // Load CountrySelect
        $("#country").countrySelect();
        var password = document.getElementById("password")
        var verify = document.getElementById("verify");
        password.onchange = validatePassword;
        verify.onkeyup = validatePassword;

        $("#form-register").submit(function(e) {
            e.preventDefault();
          // Username validation built-into input box
          var username = $('#username').val().trim();
          var password = $('#password').val().trim();
          var verify = $('#verify').val().trim();
          var email = $('#email').val().trim();
          var country = $("#country_code").val().trim();
          console.log("1", $("#country_code").text())
          console.log($("2","#country_code").val())
          console.log($("3","#country_code").val().trim())
          // Build Submit Paramaters
          var params = "username=" + encodeURIComponent(username)
          + "&password=" + encodeURIComponent(password)
          + "&email=" + encodeURIComponent(email)
          + "$country=" + encodeURIComponent(country);

          // Post update
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/newUser',true);
          xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          xhr.onreadystatechange = function () {
            if( xhr.readyState == 4 && xhr.status == 201) {
              console.log("Created new user")
              //new user created
              window.location.href = "/";
            } else if (xhr.readyState == 4 && xhr.status == 400) {
              //show error
              alert(xhr.responseText);
            }
            else {
              console.log("Response:", xhr.status, xhr.readyState, xhr.responseText)
            }
          }
          xhr.send(params);
        });

        function validatePassword(){
          if(password.value != verify.value) {
            verify.setCustomValidity("Passwords Don't Match");
          } else {
            verify.setCustomValidity('');
          }
        }
      </script>
  </div>
<% include ../fragments/footer.ejs %>