<% include ../fragments/header.ejs %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>Warning!</strong> This skill is still in development, you need to request access to the Alexa Skill. See <a href='https://github.com/coldfire84/node-red-alexa-home-skill-v3-web/wiki/Use-the-Hosted-Instance'>here</a> for more information.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
  </div>
  
  <% include ../fragments/tos-modal.ejs %>
  <% include ../fragments/privacy-modal.ejs %>

  <div class="container main-content">
      <!-- <div id="register"> -->
        <!-- <form class="form-register" id="form-register" onsubmit="submitUser()"> -->
        <form class="form-register" id="form-register">
          <% include ../fragments/register.ejs %>
        </form>
      <!--  </div> -->
      <!--  <script type="text/javascript" src="js/zxcvbn.js"></script> -->

      <script type="application/javascript">
        // Load CountrySelect
        $("#country").countrySelect();
        var password = document.getElementById("password")
        var verify = document.getElementById("verify");
        password.onchange = validatePassword;
        verify.onkeyup = validatePassword;

        $('a[href$="#tosModal"]').on( "click", function() {
          $('#tosModal').modal('show');
        });
        $('a[href$="#privacyModal"]').on( "click", function() {
          $('#privacyModal').modal('show');
        });

        $("#form-register").submit(function(e) {
          e.preventDefault();
          // Username validation built-into input box
          var username = $('#username').val().trim();
          var password = $('#password').val().trim();
          var verify = $('#verify').val().trim();
          var email = $('#email').val().trim();
          var country = $("#country_code").val().trim();

          // Build Submit Paramaters
          var params = "username=" + encodeURIComponent(username)
          + "&password=" + encodeURIComponent(password)
          + "&email=" + encodeURIComponent(email)
          + "&country=" + encodeURIComponent(country);

          // Post update
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/newUser',true);
          xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          xhr.onreadystatechange = function () {
            if( xhr.readyState == 4 && xhr.status == 201) {
              console.log("Created new user")
              //new user created
              window.location.href = "/";
            } else if (xhr.readyState == 4 && xhr.status == 400) {
              //show error
              alert("Failed to create user account, response: " + xhr.responseText);
            }
            else if (xhr.readyState == 4 && xhr.status == 500) {
              //show error
              alert("Failed to create user account, response: " + xhr.responseText);
            }
            else {
              console.log("Response:", xhr.status, xhr.readyState, xhr.responseText)
            }
          }
          xhr.send(params);

        });

        function validatePassword(){
          if(password.value != verify.value) {
            verify.setCustomValidity("Passwords Don't Match");
          } else {
            verify.setCustomValidity('');
          }
        }
      </script>
      <!-- Translate Bar Start
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
        }
      </script>
        
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      Translate Bar End -->
  </div>
<% include ../fragments/footer.ejs %>