	<!-- Modal Start -->
	<div class="modal fade" id="newDeviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="newDeviceModalTitle">Add Device</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<form class="form-device" id="form-device">
			<div class="modal-body">
				<div class="form-group">
					<input id="devID" type="hidden">
					<label for="friendlyName">Name: </label>
					<input id="friendlyName" class="form-control" type="text" required>
					<br>
					<label for="description">Description: </label>
					<br>
					<textarea id="description" class="form-control" required></textarea>
				</div>
				<!-- <fieldset class="action" id="capabilityType"> -->
				<div class="row" align="justify">
					<div class="col-sm">
						<fieldset class="form-group" id="capabilityType">
							<legend>Capabilities</legend>
							<div class="form-check">
									<input title="Input Control" type="checkbox" class="form-check-input" name="capabilities" id="BrightnessController" value="BrightnessController" onclick='checkCapability(this)'>
								<label class="form-check-label" for="BrightnessController"> Brightness Control </label>
								<br />
							</div>
							<div class="form-check">
								<input title="Channel Control" type="checkbox" class="form-check-input" name="capabilities" id="ChannelController" value="ChannelController" onclick='checkCapability(this)'>
							<label class="form-check-label" for="ChannelController"> Channel Control </label>
							<br />
							</div>
							<div class="form-check">
									<input title="Input Control" type="checkbox" class="form-check-input" name="capabilities" id="ColorController" value="ColorController" onclick='checkCapability(this)'>
								<label class="form-check-label" for="ColorController"> Color Control </label>
								<br />
							</div>
							<div class="form-check">
									<input title="Input Control" type="checkbox" class="form-check-input" name="capabilities" id="ColorTemperatureController" value="ColorTemperatureController" onclick='checkCapability(this)'>
								<label class="form-check-label" for="ColorTemperatureController"> Color Temperature Control </label>
								<br />
							</div>
							<div class="form-check">
									<input title="Input Control" type="checkbox" class="form-check-input" name="capabilities" id="InputController" value="InputController" onclick='checkCapability(this)'>
								<label class="form-check-label" for="InputController"> Input Control </label>
								<br />
							</div>
							<div class="form-check">
									<input title="Lock Control" type="checkbox" class="form-check-input" name="capabilities" id="LockController" value="LockController" onclick='checkCapability(this)'>
								<label class="form-check-label" for="LockController"> Lock Control </label>
								<br />
							</div>
							<div class="form-check">
									<input title="Playback Control" type="checkbox" class="form-check-input" name="capabilities" id="PlaybackController" value="PlaybackController" onclick='checkCapability(this)'>
								<label class="form-check-label" for="PlaybackController"> Playback Control </label>
								<br />
							</div>
							<div class="form-check">
									<input title="Power Control" type="checkbox" class="form-check-input" name="capabilities" id="PowerController" value="PowerController" onclick='checkCapability(this)'>
								<label class="form-check-label" for="PowerController"> Power Control </label>
								<br />
							</div>
							<div class="form-check">
									<input title="Scene Control" type="checkbox" class="form-check-input" name="capabilities" id="SceneController" value="SceneController" onclick='checkCapability(this)'>
								<label class="form-check-label" for="SceneController"> Activity/ Scene </label>
								<br />
							</div>
							<div class="form-check">
									<input title="Step Speaker Control" type="checkbox" class="form-check-input" name="capabilities" id="StepSpeaker" value="StepSpeaker" onclick='checkCapability(this)'>
								<label class="form-check-label" for="StepSpeaker"> Speaker Control </label>
								<br />
							</div>
							<div class="form-check">
									<input title="Thermostat Control" type="checkbox" class="form-check-input" name="capabilities" id="ThermostatController" value="ThermostatController" onclick='checkCapability(this)'>
								<label class="form-check-label" for="ThermostatController"> Thermostat (1-Point) </label>
							</div>
							<div id="validRangeOptions">
								<br>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroup-sizing-default">Min Value (째/K)</span>
									</div>		
									<input id="minimumValue" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" disabled>
								</div>
								<div class="input-group mb-3">
										<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroup-sizing-default">Max Value (째/K)</span>
										</div>		
										<input id="maximumValue" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" disabled>
								</div>
							</div>
							<div id="validRangeScaleOptions">
								<div class="form-check form-check-inline" style="padding-left:5px;">
									<input class="form-check-input" type="radio" name="radioScale" id="Celsius" value="CELSIUS" disabled>
									<br>
									<label class="form-check-label" id="lblCelsius" for="Celsius">째Celsius</label>
								</div>
								<div class="form-check form-check-inline" style="padding-top: 10px;">
									<input class="form-check-input" type="radio" name="radioScale" id="Farenheit" value="Farenheit" disabled>
									<label class="form-check-label" id="lblFarenheit" for="Farenheit">째Farenheit</label>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-sm">
					<fieldset class="form-group">
						<legend>Alexa App Icon</legend>
						<!-- <fieldset class="action" id="capabilityType"> -->
						<div class="form-check">
							<input type="radio" class="form-check-input" id="ACTIVITY_TRIGGER" name="appType" value="ACTIVITY_TRIGGER">
							<label class="form-check-label" for="ACTIVITY_TRIGGER">Activity/ Scene </label>
							<br />
						</div>
						<div class="form-check">
								<input type="radio" class="form-check-input" id="LIGHT" name="appType" value="LIGHT">
								<label class="form-check-label" for="LIGHT">Light </label>
								<br />
						</div>
						<div class="form-check">
								<input type="radio" class="form-check-input" id="SMARTLOCK" name="appType" value="SMARTLOCK">
								<label class="form-check-label" for="SMARTLOCK">Smart Lock </label>
								<br />
						</div>
						<div class="form-check">
								<input type="radio" class="form-check-input" id="SMARTPLUG" name="appType" value="SMARTPLUG">
								<label class="form-check-label" for="SMARTPLUG">Smart Plug </label>
								<br />
							</div>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="SWITCH" name="appType" value="SWITCH">
							<label class="form-check-label" for="SWITCH">Smart Switch </label>
							<br />
						</div>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="SPEAKER" name="appType" value="SPEAKER">
							<label class="form-check-label" for="SPEAKER">Speaker </label>
							<br />
						</div>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="TV" name="appType" value="TV">
							<label class="form-check-label" for="TV">TV </label>
							<br />
						</div>
						<div class="form-check">
							<input type="radio" class="form-check-input" id="THERMOSTAT" name="appType" value="THERMOSTAT">
							<label class="form-check-label" for="THERMOSTAT">Thermostat </label>
						</div>
					</fieldset>
					<fieldset class="form-group">
						<legend>Alexa App State</legend>
						<div class="form-check">
							<input title="Report State" type="checkbox" class="form-check-input" id="ReportState">
							<label class="form-check-label" for="ReportState">Report State </label>
							<small id="reportStateInfo" class="form-text text-muted"><a href="https://github.com/coldfire84/node-red-alexa-home-skill-v3-web/wiki/State-Reporting">See State Reporting help for more information</a></small>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary" id="submit" type="submit" value="submit">Save</button>
				<!-- <button type="button" class="btn btn-primary" onclick='saveDevice()'>Save</button> -->
			</div>
		</div>
		</form>
		</div>
	</div>
</div> 
	<!-- Modal End -->
